

 <h1> All Photos </h2>

<% @photos.each do |photo| %>
    <%= image_tag photo.file, :style => "max-height:300px" %> 
    <%= photo.category %><br>
    <%= button_to "Delete Photo",  photo_path(photo), method: :delete %> <br>
<% end %>
